.show-all-events-container {
  width: 93%;
}

.align-text-center{
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.left-container {
  width: 10%;
  font-size: 32px;
  font-weight: bold;
}

.right-container {
  width: 80%;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.error-msg {
  color: red;
  font-size: 14px;
}

.status-open-msg {
  color: rgb(19, 162, 119);
  font-size: 14px;
}
@media screen and (min-width: 425px){
  .show-all-events-container {
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    flex-direction: row;
  }
}
