.App {
  font-family: sans-serif;
  text-align: center;
}

.events-container {
  display: flex;
  width: 100%;
  column-gap: 10px;
}
.toast {
  border-radius: 12px;
  background-color: #c53030;
  width: 50%;
  text-align: center;
  padding: 10px 12px;
  position: absolute;
  bottom: 5%;
  right: 25%;
}
.toast-error-msg {
  font-size: 18px;
  color: white;
}
